{% extends "base.html" %}
{% block title %}Управление на резервация{% endblock %}
{% block content %}
<div class="container mx-auto px-4 py-8">
    <h2 class="text-3xl font-bold mb-6">Управление на резервация</h2>
    <ul class="space-y-4">
        {% for reservation in reservations %}
        <li class="bg-white p-4 rounded-lg shadow flex justify-between items-center">
            <div>
                <p class="font-semibold">{{ reservation.date }} - {{ reservation.guests }} Гости</p>
                <p class="text-gray-600">Клиент: {{ reservation.customer.username }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
