{% extends "base.html" %}
{% block title %}Контакти{% endblock %}
{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-center mb-6">Свържете се с нас</h1>
    <form method="POST" action="" class="bg-white p-6 rounded-lg shadow-lg max-w-md mx-auto">
        {{ form.hidden_tag() }}
        <div class="form-group mb-4">
            {{ form.subject.label(class="block text-gray-900 text-l font-bold mb-2") }}
            {{ form.subject(class="form-control w-full p-3 border border-gray-300 rounded-lg") }}
        </div>
        <div class="form-group mb-4">
            {{ form.message.label(class="block text-gray-900 text-l font-bold mb-2") }}
            {{ form.message(class="form-control w-full p-3 border border-gray-300 rounded-lg") }}
        </div>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 w-full">Изпрати</button>
    </form>
</div>
{% endblock %}
